@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
                <br>
@*                @Html.HiddenFor(x=>x.WriterID, new { @class = "form-control"})
*@                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Yazar Ad Soyad</label>
                        <input type="text" asp-for="@Model.namesurname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">Kullanıcı Adı</label>
                        <input type="text" asp-for="@Model.username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mail Adresi</label>
                        <input type="text" asp-for="@Model.mail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Resim Yolu</label>
                        <input type="text" asp-for="@Model.imageurl" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Yeni Şifre</label>
                        <input type="text" asp-for="@Model.password" class="form-control" />

                    </div>

@*                    <div class="form-group">
                        <label>Yazar Görsel</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Resim Yükle">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button">Resim Seç</button>
                            </span>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label for="exampleInputPassword4">Şifre</label>
                         @Html.PasswordFor(x=>x.PasswordHash, new {@id ="password1",@class = "form-control"})
                         @Html.ValidationMessageFor(x=>x.PasswordHash)
                     </div>
                     <div class="form-group">
                        <label for="exampleInputPassword4">Şifre</label>
                        @Html.PasswordFor(x=>x.PasswordHash, new {@id ="password2",@class = "form-control"})
                         @Html.ValidationMessageFor(x=>x.PasswordHash)
                     </div>*@

                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                    <button class="btn btn-light" asp-action="Index" asp-controller="Dashboard">İptal</button>
                </form>
            </div>
        </div>
    </div>




<!--passwordMach-->
@*<script>
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }
    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Şifreniz Eşleşmiyor");
        else
            document.getElementById("password2").setCustomValidity('');
    }
</script>*@


